<div class="new-post">
  <div class="new-post-textarea">
    <textarea placeholder="What's up?" name="name"></textarea>
      <!-- <div class="file-upload-wrapper">
        <div class="file-upload">
          <file-pond #myPond
          style="max-width: 400px;"
          [options]="pondOptions"
          [files]="pondFiles"
          (oninit)="pondHandleInit()"
          (onaddfile)="pondHandleAddFile($event)">
          </file-pond>
        </div>
      </div> -->
  </div>

  <div class="new-post-action-footer">
    <button type="button" class="action-button">
      <i class="fas fa-photo-video"></i>
    </button>
    <button type="button" class="action-button">
      <i class="fas fa-smile-wink"></i>
    </button>
    <div class="new-post-action-footer-left">
      <button type="button" class="post-button">Post</button>
    </div>

  </div>

</div>
