<div class="spinner">
    <div class="line line--1">
        <div class="cog">
            <div class="cog-inner cog-inner--left"></div>
        </div>
        <div class="line-ticker">
            <div class="cog-inner cog-inner--center"></div>
        </div>
        <div class="cog">
            <div class="cog-inner cog-inner--right"></div>
        </div>
    </div>
    <div class="line line--2">
        <div class="cog">
            <div class="cog-inner cog-inner--left"></div>
        </div>
        <div class="line-ticker">
            <div class="cog-inner cog-inner--center"></div>
        </div>
        <div class="cog">
            <div class="cog-inner cog-inner--right"></div>
        </div>
    </div>
    <div class="line line--3">
        <div class="cog">
            <div class="cog-inner cog-inner--left"></div>
        </div>
        <div class="line-ticker">
            <div class="cog-inner cog-inner--center"></div>
        </div>
        <div class="cog">
            <div class="cog-inner cog-inner--right"></div>
        </div>
    </div>
    <div class="line line--4">
        <div class="cog">
            <div class="cog-inner cog-inner--left"></div>
        </div>
        <div class="line-ticker">
            <div class="cog-inner cog-inner--center"></div>
        </div>
        <div class="cog">
            <div class="cog-inner cog-inner--right"></div>
        </div>
    </div>
</div>
