<app-page-header-v2></app-page-header-v2>
<app-content>
  <div class="signup-container">
    <div class="signup-logo-container">
      <img class="signup-logo" src="../../../../assets/filmr.svg">
    </div>
    <div class="signup-modal">
      <div class="signup-modal-internal">
        <!--      <p class="signup-error-text">Hey! It looks like this is the first time you logged in with Twitter, create an-->
        <!--      account to continue.</p>-->
        <button class="twitter-button" type="button">
          <i class="fab fa-twitter"></i>
          Sign Up with Twitter
        </button>
        <p class="divider">OR</p>
        <form (ngSubmit)="onSubmit()">
          <div class="input-wrapper">
            <input #emai id="email" class="input" placeholder="Email" type="email" [(ngModel)]="email" name="email">
          </div>
          <div class="input-wrapper">
            <input class="input" placeholder="Password" type="password" [(ngModel)]="password" name="password">
          </div>
          <div class="input-wrapper">
            <label>
              <input class="input" placeholder="Verify password" type="password" [(ngModel)]="verifyPassword" name="password">
            </label>
          </div>
          <button class="signup-button" type="submit">Sign Up</button>
        </form>
        <p class="signup-signup">Already have an account? <a href="auth/login">Login</a></p>
        <p class="disclaimer">This site is protected by reCAPTCHA. The Google <a href="https://policies.google.com/privacy?hl=en-US">Privacy Policy</a> and <a href="https://policies.google.com/terms?hl=en-US">Terms of Service</a> apply.</p>
      </div>
    </div>
  </div>

</app-content>
