<div class="prolayout">
  <div class="sidebar">
    <div class="sidebar-header">
      <img class="sidebar-header-logo" src="../../../assets/filmr-pro-tools.svg">
    </div>
    <ul>
      <li>
        <a>Dashboard</a>
      </li>
      <li>
        <a>Posts</a>
      </li>
      <li>
        <a>Media Library</a>
      </li>
      <li>
        <a>Talent Management</a>
      </li>
      <li>
        <a>
          Earnings
        </a>
      </li>
      <li>
        <a>Analytics</a>
      </li>
      <li>
        <a>Settings</a>
      </li>
    </ul>
    <div class="sidebar-bottom">
      Bromohomos
    </div>
  </div>

  <div class="procontent">
    <div class="procontent-header">
      <button>Create Post</button>
    </div>
    <div class="content-container">
      <div class="content-item">
        Scheduled Posts
      </div>
      <div class="content-item">
        Live Posts
      </div>
    </div>

  </div>
</div>

