:host {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.background-container {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  .background-top {
    flex: 1;
    background-color: #4b2594;
  }
  .background-bottom {
    flex: 1;
    background-color: #eff2f5;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
}

.login-header {
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  width: 100%;
  height: 40px;
  .signup-button {
    background: black;
    color: white;
    margin-left: auto;
    border: none;
    border-radius: 30px;
    padding: 6px 13px;
    font-size: 15px;
    font-weight: bold;
  }
}

.login-container {
  flex: 1;
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  .login-container-internal {
    width: 100%;
    max-width: 500px;
    background: white;
    padding: 17px;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    .login-container-signin {
      margin: 0 0 40px 0;
      .login-container-signin-logo {
        padding: 20px 0;
        font-size: 26px;
        font-weight: bold;
      }
      .login-container-signin-subtext {
        padding: 10px 0;
      }
    }
    .login-container-social {

      .login-container-social-label {
        color: grey;
        margin-bottom: 10px;
      }
    }
  }
}




.input-holder {
  position: relative;
  padding: 10px 0 0;
  width: 100%;
}

.input {
  font-size: 16px;
  padding: 16px 15px;
  border-radius: 4px;
  border: 1.2px solid grey;
  width: 100%;
  outline: none;
  box-sizing: border-box;
  background: #eff2f5;
  -webkit-appearance: none;
}
// Maybe don't use this in production, hasn't been cross browser tested...

.input:not(:placeholder-shown).input:not(:focus) {
  border: 1.2px solid grey;

  & + .placeholder {
    transform: scale(0.75) translateY(-35px) translateX(-5px);
    color: grey;
  }
}

.input:not(:placeholder-shown).input:not(:focus).input:not(:valid) {
  border: 1.2px solid red;

  & + .placeholder {
    transform: scale(0.75) translateY(-35px) translateX(-5px);
    color: red;
  }

  & + .placeholder + .error {
    visibility: visible;
  }
}

.input:focus {
  border-color: black;

  & + .placeholder {
    transform: scale(0.75) translateY(-35px) translateX(-5px);
    color: black;
  }
}

.placeholder {
  position: absolute;
  top: 32px;
  left: 8px;
  padding: 0 8px;
  background-color: #eff2f5;
  transition: transform 150ms cubic-bezier(0.4, 0, 0.2, 1), opacity 150ms cubic-bezier(0.4, 0, 0.2, 1);
  color: grey;
  font-size: 16px;
}

.error {
  display: inline-block;
  visibility: hidden;
  color: red;
  padding: 5px 0 0;
  font-weight: 300;
  font-size: 14px;
}

.email-login-button {
  width: 100%;
  border-radius: 30px;
  color: white;
  background: black;
  border: 0;
  padding: 15px 0;
  font-weight: bold;
  font-size: 16px;
  &:disabled {
    background: grey;
  }
}

.twitter-login-button {
  width: 100%;
  border-radius: 30px;
  color: white;
  background: #1DA1F2;
  border: 0;
  padding: 15px 0;
  font-weight: bold;
  font-size: 16px;
}
