<app-page-header-v2>
  <div header-title>
    {{profile.username || 'Profile'}}
  </div>
  <!--  <div header-right>-->
  <!--    <button class="header-back-button">Signup</button>-->
  <!--  </div>-->
</app-page-header-v2>
<div class="profile-header">
  <img class="profile-header-glyph" [src]="">
  <p class="profile-header-username">@{{profile.username}}</p>
  <div class="profile-stats">
    <div class="profile-stat">
      <div class="profile-stat-value">86</div>
      <div class="profile-stat-label">Posts</div>
    </div>
    <div class="profile-stat">
      <div class="profile-stat-value">1.1K</div>
      <div class="profile-stat-label">Followers</div>
    </div>
    <div class="profile-stat">
      <div class="profile-stat-value">12.2K</div>
      <div class="profile-stat-label">Likes</div>
    </div>
  </div>

<!--<button>Subscribe</button>-->
<button class="profile-header-button" (click)="router.navigate(['/profile/edit'])">Edit Profile</button>

  <p class="profile-header-bio">{{profile.bio}}</p>
</div>
