<div class="post">
  <div class="post-header" (click)="router.navigate(['/profile'])">
    <div class="post-header-glyph" style="background-image: url(../../assets/test_glyph.jpeg)"></div>
    <div class="post-header-info">
      <div class="post-header-name">{{post.username}}</div>
      <!-- <div class="post-header-date">August 12th</div> -->
    </div>
  </div>
  <div class="post-content">
    <img *ngIf="post.imgSrc" src={{post.imgSrc}}>
    <video *ngIf="post.videoSrc" controls>
      <source src="{{post.videoSrc}}" type="video/mp4">
    </video>
  </div>

  <div class="post-likes">{{post.likes}} Likes</div>

  <div class="post-actions">
    <button class="post-action-button" type="button" style="margin-right: 10px;" (click)="toggleLike()">
      <i class="far fa-heart" [ngClass]="{'fas liked': post.liked}"></i>
    </button>
    <button class="post-action-button" type="button"><i class="far fa-comment" (click)="router.navigate(['/comment'])"></i></button>
  </div>

  <div class="post-text">{{post.description}}</div>

  <!-- <div class="post-comments">
      This is where the comments will be rendered.
  </div> -->
</div>
