<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;800&display=swap" rel="stylesheet"><div class="header">
  <h1 style="font-weight: bold; font-size: 24px;">filmr</h1>
  <div class="header-right">
    <button type="button" class="button text">Login</button>
    <button type="button" class="button black">Create Account</button>
  </div>
</div>

<div class="section">
  <p>Content Creators</p>
  <h1>Share your content.</h1>
  <h1>Make bank. 💰</h1>
  <p>OnlyFans charges 20% per transaction.
    Filmur only takes what it needs, taking
    nothing per transaction.</p>
</div>
