.header {
  font-family: 'Poppins', sans-serif;
  height: 60px;
  display: flex;
  align-items: center;
  .header-right {
    margin-left: auto;
  }
}

.button {
  color: white;
  border-radius: 5px;
  background-color: black;
  font-weight: bold;
  border: none;
  padding: 10px 15px;
}

.button.text {
  background: transparent;
  color: black;
}

.section {
  height: calc(100vh - 60px);
}

h1 {
  font-size: 55px;
  font-weight: 800;
  padding: 10px 0;
}
