:host {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.host-container {
  max-width: 250px;
}


.button.selectable {
  border: 2px solid black;
  background: transparent;
  color: black;
  &.selected {
    background: black;
    color: white;
  }
}
