:host {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
  height: 100vh;
}

.modal-router-container {

}

//
//
//.container {
//  display: flex;
//  flex: 1 0;
//  margin-left: auto;
//  margin-right: auto;
//  align-items: center;
//  margin-top: -100px;
//}
//
//
//@media (min-width: 768px) {
//  .container {
//    max-width: 746px;
//  }
//  * {
//    -webkit-tap-highlight-color: transparent;
//    -webkit-user-select: none;
//    -webkit-touch-callout: none;
//    -webkit-overflow-scrolling: auto;
//  }
//  *::-webkit-scrollbar {
//    width: 0px;
//  }
//
//}
//
//@media (min-width: 992px) {
//  .container {
//    max-width: 966px;
//  }
//}
//
//
//@media (min-width: 960px) {
//  .container {
//    max-width: 900px;
//  }
//}
//
//@media (min-width: 1200px) {
//  .container {
//    max-width: 1200px;
//  }
//}
//
//
//@media (min-width: 1264px) {
//  .container {
//    max-width: 1185px;
//  }
//}
