$font-base-size: 16px;
$font-secondary-size: 14px;

$black: #130b2c;

p {
  font-size:$font-base-size;
}

:host {
  display: flex;
  flex: 1;
}

h1 {
  font-family: Poppins;
  font-size: 62px;
  font-weight: bolder;
}

.login-logo {
  height: 40px;
  margin-bottom: 50px;
}

.login-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.login-modal {
  width: 320px;
}

.twitter-button {
  background: #00acee;
  border: 0;
  border-radius: 10px;
  font-weight: 600;
  font-size: $font-base-size;
  padding: 12px;
  width: 100%;
  color: white;
  i {
    margin-right: 5px;
    color: white;
    font-size: $font-base-size;
  }
}

.input {
  border: 3px solid $black;
  background: transparent;
  border-radius: 10px;
  font-weight: 600;
  font-size: $font-base-size;
  padding: 12px;
  width: 100%;
  outline: none;
  background-clip: padding-box;
  &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgba(0, 0, 0, 0.5);
    opacity: 1; /* Firefox */
  }
  &:focus {
    border-color: #00acee;
  }
}

.input-wrapper {
  margin: 10px 0;
}

.login-button {
  border: none;
  background: $black;
  border-radius: 10px;
  font-weight: 600;
  font-size: $font-base-size;
  padding: 12px;
  width: 100%;
  color: white;
  margin-top: 40px;
}

.disclaimer {
  margin-top: 40px;
  text-align: center;
  font-size: $font-secondary-size;
  color: rgba(0, 0, 0, 0.4);
}

.divider {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: $font-secondary-size;
}

.login-error-text {
  color: red;
  font-size: $font-secondary-size;
  text-align: center;
  margin: 0 0 10px 0;
}

.login-signup {
  text-align: center;
  font-size: $font-base-size;
  margin: 20px 0;
}


@import '../../../../../node_modules/include-media/dist/include-media';


$breakpoints: (xsmall: 500px, small: 768px, medium: 960px, large: 1200px);
/* Inclusive and exclusive operators for a finer control over the intervals */

@include media("<xsmall") {
  .login-container {
    background: white;
  }
  .login-modal {
    background: transparent;
    box-shadow: none;
    width: 100%;
    padding: 0 30px;
  }
  .login-modal-internal {
    padding: 0;
  }
}
