<app-page-header-v2 [showBackButton]="false">
  <div header-right>
    <button class="header-back-button">Signup</button>
  </div>
</app-page-header-v2>
<app-content>
  <div class="login-logo-container">
    <img class="login-logo" src="../../../../assets/filmr.svg">
  </div>
  <div class="login-modal">
    <div class="login-modal-internal">
      <p *ngIf="error" class="login-error-text">{{this.error}}</p>
      <button (click)="onTwitterLogin()" class="twitter-button" type="button">
        <i class="fab fa-twitter"></i>
        Log in with Twitter
      </button>
      <p class="divider">OR</p>
      <form (submit)="onEmailLogin()">
        <div class="input-wrapper">
          <input class="filmr-input" placeholder="Email" type="email" [(ngModel)]="email" name="email" autocomplete="email">
        </div>
        <div class="input-wrapper">
          <label>
            <input class="filmr-input" placeholder="Password" type="password" [(ngModel)]="password" name="password" autocomplete="current-password">
          </label>
        </div>
        <button class="login-button">Login</button>
      </form>
      <p class="login-signup">Don't have an account yet? <a href="auth/signup">Signup</a></p>
      <p class="disclaimer">This site is protected by reCAPTCHA. The Google <a href="https://policies.google.com/privacy?hl=en-US">Privacy Policy</a> and <a href="https://policies.google.com/terms?hl=en-US">Terms of Service</a> apply.</p>
    </div>
  </div>
</app-content>
