
// Class css reset, TODO: Let's include a local disto of this as well!
@import url('https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css');

// Our main font, Poppins, hosted by Google Fonts... TODO: Should we include a local distro of this?
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

// TODO: Not sure what this is for... remove?
@import '~croppie/croppie.css';

// Library used for easy to use media queries in scss
@import '~include-media/dist/_include-media.scss';

html {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

input {
  font-family: 'Poppins', sans-serif;
}

button {
  font-family: 'Poppins', sans-serif;
}

// TODO: I'm not sure if I'm okay with using * in a global namespace like this, seem's heavy :(
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  color: #130b2c;
  background: #eff2f5;
}

// https://developers.google.com/recaptcha/docs/faq
.grecaptcha-badge { visibility: hidden; }


// Mobile only?
